/* CSS */

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

 
ul {
    list-style: none;
    display: flex;
}

.nav-list {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 17px;
    font-size: 0.8125rem;
}

#pixels {
    width: 30px;
    height: 30px;
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -132px -38px;
    cursor: pointer;
}

.nav-item {
    margin: auto 7.5px;
}

.nav-list button {
    height: 28px;
    padding: 0 12px;
    border: 1px solid #4285f4;
    background-image: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));
    line-height: 28px;
    font-weight: 700;
    color: white;
    text-align: left;
    display: inline-block;
    border-radius: 2px;
    margin-right: 30px;
    white-space: nowrap;
}

.main-logo {
    height: 233px;
    padding-top: 109px;
    text-align: center;
}

#search-form {
    position: absolute;
    top: 274px;
    height: 140px;
    width: 100%;
    color: rgb(32, 33, 36);
    min-width: 400px;
}

#search-bar {
    border: 1px solid lightgray;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    max-width: 484px;
    display: flex;
    
}

.len {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 12px 14px;
    color: #9aa0a6;
}

.text {
    background-color: transparent;
    height: 34px;
    border: none;
    margin-top: 5px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    outline: none;
}

.micro {
    width: 45px;
    height: 59px;
    padding-right: 16px;
    padding-bottom: 16px;
    cursor: pointer;
}

#two-btn {
    display: flex;
    justify-content: center;
    padding-top: 18px;
}

.twobtn {
    height: 36px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    cursor: pointer;
    font-size: 14px;
    min-width: 54px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #f8f9fa;
    color: #3c4043;
}

.twobtn:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #dadce0;
    color: #202124;
}